In [ ]:
#import pandas and numpy for data analysis
import pandas as pd
import numpy as np

#import drive to set up Colab and Drive connection to access files in the Drive
from google.colab import drive
import pdfplumber
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
# Open the PDF file
pdf = pdfplumber.open('/content/drive/MyDrive/medschool project/WIC Vendors.pdf')

# Create an empty DataFrame
df = pd.DataFrame()

# Iterate through the pages of the PDF file
for page in pdf.pages:

    # Extract the table data from the page
    table = page.extract_table()

    # Add the table data to the DataFrame
    df = df.append(table)

<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)
<ipython-input-26-009c0d226634>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table)

In [ ]:
# Assign the first row of the DataFrame to a variable
first_row = df.iloc[0, :]
# Set the column labels to equal the values in the variable
df.columns = first_row
# Drop the first row from the DataFrame
df = df.iloc[1:, :]
# Remove col titles as rows
df = df[df['County'] != 'County']
df

,County,Store Name,Store Address,City,Zip
1,EASTLAND,BROOKSHIRE FOOD STORE #98,111 NORTH SEAMAN,EASTLAND,76448
2,EASTLAND,BROOKSHIRE FOOD STORE #99,1010 AVENUE E,CISCO,76437
3,EASTLAND,SHOPPIN BASKIT,300 W HWY LOOP 254,RANGER,76470
4,EASTLAND,WAL-MART SUPERCENTER #561,1410 EAST MAIN STREET,EASTLAND,76448
5,ECTOR,ALBERTSONS #676,2751 COUNTY ROAD WEST,ODESSA,79764
...,...,...,...,...,...
31,HUNT,WALMART SUPERCENTER #4215,8801 STATE HIGHWAY 34 S,QUINLAN,75474
32,HUTCHINSON,FOOD KING #28,101 WEST 10TH ST,BORGER,79007
33,HUTCHINSON,LOWE'S #29,316 E BROADWAY ST,FRITCH,79036
34,HUTCHINSON,UNITED SUPERMARKET #539,1414 WEST WILSON ST,BORGER,79007
35,HUTCHINSON,WALMART SUPERCENTER #1516,1501 ROOSEVELT ST,BORGER,79007

In [ ]:
path = '/content/drive/MyDrive/medschool project/WIC_formula_vendors.xlsx' #save the final dataset to drive

# Save the Excel file to your Google Drive folder
df.to_excel(path)